<h3> <%= @title %> Recipes</h3>
  
  <ul>
  <% @recipes.each do |recipe| %>
    <article class="recipe">
      <li><%= recipe.title %>
      <%= link_to 'Show', url(:recipes, :show, :id => recipe.id) %>
      </li>
      </article>
  <% end %>
  </ul>
