/*HEADER*/
header {
  background-color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
  height: 115px;

}

.site-title {
}


/* NAVIGATION MENU */
#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 10px;
}

#navcontainer ul li { 
  display: inline-block;
}

#navcontainer ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
}

#navcontainer ul li a:hover {
  color: #fff;
  background-color: #369;
}

#navcontainer ul li ul li
{
  position: absolute;
  bottom: 0;
}


.container {
  margin: 120 0 0 0; 
}

/* HOMEPAGE GRID DISPLAY*/

ul#grid {
  padding: 0;
  list-style: none;
  margin: 40px auto 0;
  width: 930px;  
}

#grid li {
  float: left;
  padding: 0;
  margin: 0 10px 20px 10px;
}

#grid li a {
  display: block;
}

#grid li img {
  background-color: white;
  padding: 14px; margin: 0;
  border: 2px dotted #58595b;
  width: 258px;
  height: 290px;
}

#grid li a:hover img {
  opacity:0.3; filter:alpha(opacity=30);
}

.grid_display {
  padding: 40px;
  margin-left: auto; margin-right: auto;  margin-top:100px; margin-bottom:0;
  /*background-color: #ffd7ce;*/
  width: 960px; 

  /*these two properties will be inherited by .grid_display h2 and .grid_display p */
  font-family: 'GraublauWeb', arial, serif; 
  text-align: center;
}  

div.grid_display h2 {
  padding: 0; margin: 0;
  clear: both;
  font-size: 35px;
  font-weight: normal;
  color: #58595b;
  background: none;
  font-family: 'GraublauWeb', arial, serif;  

  /* reset for cascade effects that are trickling down from other h2's */
  text-transform: none;
  letter-spacing: normal;
}

.grid_display p {
  margin:0; padding: 0;
  font-size: 15px;
  color: #58595b;
}
