<div class="portfolio">
  <ul id="grid">
    <li><a href="/ingredients"><img src="images/ingredients.jpg"></a></li>
    <li><a href="/chef"><img src="images/chef.jpg"></a></li>
    <li><a href="/recipes"><img src="images/recipes.gif"></a></li>

    <li><a href="/"><img src="images/wegotrecipes.png"></a></li>
    <li><a href="/category/2/recipes"><img src="images/vegetarian.png"></a></li>
    <li><a href="/category/1/recipes"><img src="images/cuisine.png"></a></li>
  </ul>
</div>
