<h3>Recipies by Category</h3>
<ul>
  <% Category.all.each do |category| %>
    <li> <%= link_to "#{category.name} Recipes", url_for(:recipes, :by_category, :category_id => category.id) %></li>
<% end %>
</ul>
